html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.schaakbord {
  display: flex;
  flex-wrap: wrap;
  width: 642px;
  height: 642px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2px;
}

.veld {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.zwart {
  background-color: #4e7491;
}

.wit {
  background-color: #f2e9e4;
}

.stuckIMG {
  width: 60px;
  height: 60px;
}

.stuckIMG:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}